<div class="card individual">
    <h2>{{animalname}}</h2>
    <img src={{image}} alt="">
    <span><strong>Breed: </strong> {{breedname}}</span>
    <span><strong>Species: </strong>{{speciesname}}</span>
    <span><strong>Age: </strong>{{animalage}}</span>
    <span><strong>Color: </strong>{{basecolour}}</span>
    <span><strong>Owner: </strong>{{owner}}</span>
    <a href="/animals/adopt/{{id}}"><button>Adopt me!</button></a>
</div>